*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;;
}

.header{
    background-image: black;
    padding: 0px 0;
    color: white;
    margin-bottom: 129px;
}

.wrap{
    width: 1500px;
    margin: 0 auto;
}

.header-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.text-link-wrap{
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.link{
    margin-right: 150px;
}
.header-left{
    display: flex;
    padding: 0px 0;
    margin-left: 0px;
    margin-top: 16px;
}

.header_text{
    text-decoration: none;
    font-size: 14px;
    margin-top: 16px;
    line-height: 20px;
    color: #646F79;
    flex: none;
}

.feedback-button{ 
    padding-top: 90px; 
}

.feedback-submit{ 
    background: #796EFF;
    padding: 12px; 
    border-radius: 0px 4px 4px 0px; 
    border-style: none; 
    margin-left: 10px; 
    letter-spacing: 0.375px; 
    font-weight: normal; 
    font-size: 17px; 
    line-height: 20px; 
    color: #FFFFFF; 
    border-radius: 3px; 
}

.checkout-logos{
    background-image: url(../img/site.png);
    position: absolute;
    height: 360px;
    left: 51.19%;
    right: 1.19%;
    top: 100px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    min-height: 764px;
}

.textt-link-wrap{
    text-decoration: none;
    font-weight: 700;
    margin-left: 200px;
    margin-right: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.texttt-link-wrap{
    text-decoration: none;

    font-weight: 400;
    margin-right: 36px;
    font-family: Roboto;
    font-style: normal;
    background: #796EFF;
    border-radius: 3px;
    padding: 2px;

}

.headerr_text{
    background: #796EFF;
    padding: 5px; 
    border-style: none; 
    margin-left: 15px; 
    height: 23px;
    width: 85px;
    text-align:left;
    font-size: 14px; 
    line-height: 18px; 
    color: #FFFFFF; 
    border-radius: 3px; 
}

.promo-title{
    margin: 0;
    font-weight: normal;
    font-size: 45px;
    line-height: 62px;
    text-align: left;
    color: #180330;
}

.promo-title2{
    margin: 0;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    text-align: left;
    padding-top: 25px; 
    color: #646F79;
}

